<!-- Footer -->
<footer id="footer" class="panel">
  <div class="inner split">

    <!-- LEFT SIDE -->
    <div>

      <!-- Logo -->
      <div class="footer-logo">
        <img src="/images/eternalmicrobelogo-3.png" alt="Eternal Microbe Logo" />
      </div>

      <section>
        <h2>Welcome to Eternal Microbe</h2>
        <p>
          The elegance and complexity of biology and the natural world never ceases to inspire me.
          This is a space for my thoughts and observations as I continue to learn and explore along my path.
        </p>
      </section>

      <section>
        <h2>Let's connect...</h2>
        <ul class="icons">
          <li><a href="https://instagram.com/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="https://github.com/linda5mith" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="https://linkedin.com/linda5mith" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
      </section>

      <p class="copyright">
        &copy; {{ now.Year }} Eternal Microbe. Design:
        <a href="https://html5up.net/multiverse">Multiverse</a>.
      </p>

    </div>

    <!-- RIGHT SIDE -->
    <div>
      <section>
        <h2>Get in touch</h2>
        <form method="post" action="#">
          <div class="fields">
            <div class="field half">
              <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="field half">
              <input type="email" name="email" id="email" placeholder="Email" />
            </div>
            <div class="field">
              <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send" class="primary" /></li>
            <li><input type="reset" value="Reset" /></li>
          </ul>
        </form>
      </section>
    </div>

  </div>
</footer>